Book Keeper/Service References/BookKeeperSR/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Book_Keeper_WCF_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Book_Keeper_WCF_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookModel" nillable="true" type="tns:BookModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookModel" nillable="true" type="tns:ArrayOfBookModel" />
  <xs:complexType name="BookModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthorModel" />
      <xs:element minOccurs="0" name="Bookid" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookModel" nillable="true" type="tns:BookModel" />
  <xs:complexType name="ArrayOfAuthorModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorModel" nillable="true" type="tns:AuthorModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorModel" nillable="true" type="tns:ArrayOfAuthorModel" />
  <xs:complexType name="AuthorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autherid" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorModel" nillable="true" type="tns:AuthorModel" />
</xs:schema>